<!DOCTYPE html>
head
  meta(charset="utf-8")
  title Cube example
  link(rel="stylesheet" href="/styles.css")
body
  canvas(id="canvas")
  img(id="texture", src="/wood.jpg")
  script(type="text/javascript" src="/main.js")