head
  title Cube example
  link(rel="stylesheet" href="/styles.css")
body
  canvas(id="canvas")
  img(id="texture", src="/wall.png")
  span
    | Based on <a href=https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API/Tutorial/Lighting_in_WebGL">https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API/Tutorial/Lighting_in_WebGL</a>
  script(type="text/javascript" src="/main.js")