<!DOCTYPE html>
head
  meta(charset="utf-8")
  title Cube camera example
  link(rel="stylesheet" href="/styles.css")
body
  canvas(id="canvas")
  img(id="skybox-back", src="/skybox_back.png")
  img(id="skybox-bottom", src="/skybox_bottom.png")
  img(id="skybox-left", src="/skybox_left.png")
  img(id="skybox-front", src="/skybox_front.png")
  img(id="skybox-right", src="/skybox_right.png")
  img(id="skybox-top", src="/skybox_top.png")
  script(type="text/javascript" src="/main.js")